@model IEnumerable<AdminSensorViewModel>
<h2>All Sensors</h2>

<div id="exampleAccordion" data-children=".item">
    @foreach (var sensor in Model)
    {
        <div class="item">
            <div role="tabpanel">
                <p class="mb-3">

                    @Ajax.ActionLink("Edit Sensor " + @sensor.Name, "EditSensor",
       new { id = sensor.Id },
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = sensor.Id.ToString()
       })

                </p>

            </div>
            <div id="@sensor.Id" class="div-form"></div>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    <script>
        $('a').on('click', function () {
            let href = $(this).attr('href')
            let id1 = href.split('/').reverse()[0]
            let id2 = id1.split('?')
            let id = id2[0]
            $('.div-form').attr('hidden', 'hidden')
            let divId = '#' + id;
            $(divId).removeAttr('hidden')
        })
    </script>
}